<!--Main Navigation-->
<header class="intro-header">

  <!--Intro Section-->
  <section class="view intro-video">
    <video class="h-100" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline
           autoplay muted loop>
      <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
    </video>
    <div class="mask rgba-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row pt-5 mt-3 justify-content-center">
            <div class="col-lg wow fadeIn mb-5 text-center text-lg-left">
              <!-- Default form register -->
              <form class="text-center border border-light p-5">

                <p class="h4 mb-4">Registration</p>

                <div class="form-row mb-4">
                  <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                    <!-- Last name -->
                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                  </div>
                </div>

                <!-- E-mail -->
                <input type="email"
                       id="defaultRegisterFormEmail"
                       class="form-control mb-4"
                       autocomplete="email"
                       placeholder="E-mail">

                <!-- Password -->
                <input type="password"
                       id="defaultRegisterFormPassword"
                       class="form-control"
                       placeholder="Password"
                       autocomplete="current-password"
                       aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  At least 8 characters and 1 digit
                </small>

                <!-- Phone number -->
                <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
                       aria-describedby="defaultRegisterFormPhoneHelpBlock">
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                  Optional - for two step authentication
                </small>

                <!-- Newsletter -->
                <div class="row">
                  <div class="col-md-6 mx-auto d-flex justify-content-center">
                    <mdb-checkbox [default]="true">Subscribe to our newsletter</mdb-checkbox>
                  </div>
                </div>

                <!-- Sign up button -->
                <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

                <!-- Social register -->
                <p>or sign up with:</p>

                <a type="button" class="light-blue-text mx-2">
                  <mdb-icon icon="facebook"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                  <mdb-icon icon="twitter"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                  <mdb-icon icon="linkedin"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                  <mdb-icon icon="github"></mdb-icon>
                </a>

                <hr>

                <!-- Terms of service -->
                <p>By clicking
                  <em>Sign in</em> you agree to our
                  <a href="" target="_blank">terms of service</a> and
                  <a href="" target="_blank">terms of service</a>. </p>

              </form>
              <!-- Default form register -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</header>
<!--Main Navigation-->
