<main id="main" class="smaller">
  <div class="header gradient">
    <div class="inner_content">
      <div class="content">
        <h2>Hi there,</h2>
        <img
          src="https://www.themoviedb.org/assets/1/v4/marketing/deadpool-06f2a06d7a418ec887300397b6861383bf1e3b72f604ddd5f75bce170e81dce9.png"
          width="902" height="298" alt="deadpool">

        <h3>Let's talk about ALEX' films</h3>
        <p>The ALEX' films is a movie database. Every piece of data has been added dating back to 2018. ALEX' films
          strong
          <em>international focus</em> and breadth of data is largely unmatched and something I'm incredibly proud of.
          Put simply, we live and breathe community and that's precisely what makes us different.</p>

        <h4>The ALEX' films Advantage</h4>
        <div class="wrapper">
          <div>
            <div>1</div>
            <p>Every year since 2008, the number of contributions to our database has increased. With over 200,000
              developers and companies using our platform, A'f has become a premiere source for metadata.</p>
          </div>

          <div>
            <div>2</div>
            <p>Along with extensive metadata for movies we also offer one of the best selections of high resolution
              posters. On average, over 1,000 images are added every single day.</p>
          </div>

          <div>
            <div>3</div>
            <p>We're international. While we officially support 3 languages we also have extensive regional data.
              Every single day A'f is used in over 18 countries.</p>
          </div>

          <div>
            <div>4</div>
            <p>Their community is second to none. Between their staff and community moderators, we're always here to
              help. We're passionate about making sure your experience on A'f is nothing short of amazing.</p>
          </div>

          <div>
            <div>5</div>
            <p>Trusted platform. Every single day our service is used by millions of people while we process over 3
              billion requests. We've proven for years that this is a service that can be trusted and relied on.</p>
          </div>
        </div>

        <a href="tel:+380673816013" class="contact button white">Contact ALEX' films</a>
      </div>
    </div>
  </div>

  <div class="apps">
    <div class="content">
      <h3>Our Featured Apps</h3>

      <div class="cards">

        <div class="card">
          <div class="title" style="background: linear-gradient(to bottom right, #352651, #6545a0);">
            <div class="info">
              <div class="text">
                <h2><a href="#">To-Do List App</a></h2>
                <p>Uwe Trottmann</p>
              </div>
            </div>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus harum minus molestias.</p>

          </div>
        </div>

        <div class="card">
          <div class="title" style="background: linear-gradient(to bottom right, #636363, #000000);">
            <div class="info">
              <div class="text">
                <h2><a href="#">Cvit Lypy</a></h2>
                <p>CL, Inc.</p>
              </div>
            </div>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore facere in minima pariatur
              provident. Cum magni nesciunt unde? Ab, amet aperiam architecto consequuntur doloremque dolorum eveniet
              excepturi explicabo, facere ipsam laborum ratione repellendus! Culpa ex iusto laboriosam praesentium quae.
              Ab accusantium ad alias culpa deleniti deserunt distinctio ducimus ea eligendi enim est et exercitationem
              ipsam itaque molestiae molestias pariatur, perferendis placeat quia quos reprehenderit repudiandae rerum
              sequi sit suscipit tempore ut veritatis. Cupiditate ipsum molestiae omnis reiciendis repudiandae sed
              soluta? Aliquid aperiam at cupiditate distinctio dolorum enim eos, fugit, illo minus natus obcaecati
              quaerat rerum soluta, unde vero voluptatibus! </p>

          </div>
        </div>

        <div class="card">
          <div class="title" style="background: linear-gradient(to bottom right, #fbac00, #fb8900);">
            <div class="info">
              <div class="text">
                <h2><a href="H">Unga travel</a></h2>
                <p>TeschA, LLC</p>
              </div>
            </div>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet exercitationem iste, neque nesciunt
              perferendis praesentium sapiente sed! Dolorem obcaecati, praesentium!</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stats">
    <div class="content">
      <div class="inner_content">
        <h2>Stats</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>

        <div class="inner_stats">
          <div class="stat">
            <p>430,344</p>
            <p>Movies</p>
          </div>

          <div class="stat">
            <p>77,814</p>
            <p>TV Shows</p>
          </div>

          <div class="stat">
            <p>102,323</p>
            <p>TV Seasons</p>
          </div>

          <div class="stat">
            <p>1,504,924</p>
            <p>TV Episodes</p>
          </div>

          <div class="stat">
            <p>1,261,426</p>
            <p>People</p>
          </div>

          <div class="stat">
            <p>2,117,128</p>
            <p>Images</p>
          </div>

          <div class="stat">
            <p>148,689</p>
            <p>Edits Last Week</p>
          </div>
        </div>

        <div class="contact">
          <a href="tel:+380673816013" class="contact button">Contact ALEX' films</a>
        </div>
      </div>

      <img src="assets/photoSite.png" width="321" height="379" alt="photoSite">
    </div>
  </div>
</main>

