<header>
<app-navbar [links]="links" ></app-navbar>
</header>
<!--<div class="search-block">-->
  <!--<div class="container">-->
    <!--<app-search class="example-container"></app-search>-->
  <!--</div>-->
<!--</div>-->

<main>
  <!--<app-film-search class="w-100 p-3"></app-film-search>-->
  <router-outlet></router-outlet>
  <!-- Content here -->

</main>


<!--<a class="btn btn-floating btn-large red waves-light" mdbPageScroll href="#top-section" mdbWavesEffect style="right:35px; bottom:35px;" [pageScrollDuration]="750">-->
<!--<i class="fa fa-arrow-up"></i>-->
<!--</a>-->
<app-footer></app-footer>


