.fa {
  font-size: larger;
}
.star-button {
  color: #f9fefe;
}

.bookmark-button {
  color: #c8e6c9;
}

.menu-button {
  color: #bbdefb;
}

.fav {
  background-color: #b7cdfc;
}

.fav-ico {
  color: black;
}

